<section class="signup" [formGroup]="signupForm" passwordRepeat>
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Регистрация на сайте</div>

      <div class="auth-inputs">
        <div class="auth-input">
          <input
            type="text"
            class="input"
            [ngStyle]="{
              'border-color':
                signupForm.get('name')?.invalid &&
                (signupForm.get('name')?.dirty ||
                  signupForm.get('name')?.touched)
                  ? 'red'
                  : ''
            }"
            placeholder="Ваше имя"
            formControlName="name"
          />

          <div
            *ngIf="
              signupForm.get('name')?.invalid &&
              (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)
            "
            class="error-message"
          >
            <div *ngIf="signupForm.get('name')?.errors?.['required']">
              Имя обязательно для заполнения.
            </div>
            <div *ngIf="signupForm.get('name')?.errors?.['minlength']">
              Имя должно содержать минимум 2 символа.
            </div>
            <div *ngIf="signupForm.get('name')?.errors?.['pattern']">
              Имя должно начинаться с заглавной буквы.
            </div>
          </div>
        </div>

        <div class="auth-input">
          <input
            type="text"
            class="input"
            [ngStyle]="{
              'border-color':
                signupForm.get('email')?.invalid &&
                (signupForm.get('email')?.dirty ||
                  signupForm.get('email')?.touched)
                  ? 'red'
                  : ''
            }"
            placeholder="Электронная почта"
            formControlName="email"
          />

          <div
            *ngIf="
              signupForm.get('email')?.invalid &&
              (signupForm.get('email')?.dirty ||
                signupForm.get('email')?.touched)
            "
            class="error-message"
          >
            <div *ngIf="signupForm.get('email')?.errors?.['required']">
              Электронная почта обязательна для заполнения.
            </div>
            <div *ngIf="signupForm.get('email')?.errors?.['email']">
              Введите корректный адрес электронной почты.
            </div>
          </div>
        </div>

        <div class="auth-input">
          <input
            type="password"
            class="input"
            [ngStyle]="{
              'border-color':
                signupForm.get('password')?.invalid &&
                (signupForm.get('password')?.dirty ||
                  signupForm.get('password')?.touched)
                  ? 'red'
                  : ''
            }"
            placeholder="Пароль"
            formControlName="password"
          />

          <div
            *ngIf="signupForm.get('password')?.errors?.['required'] && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)"
            class="error-message"
          >
            Пароль обязателен для заполнения.
          </div>

          <div
            *ngIf="signupForm.get('password')?.errors?.['pattern'] && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)"
            class="error-message"
          >
            Пароль должен содержать минимум 8 символов, включая одну заглавную
            букву, одну строчную букву и одну цифру.
          </div>
        </div>

        <div class="auth-checkbox">
          <input type="checkbox" id="agree" formControlName="agree" />
          <label for="agree">
            Я принимаю
            <a href="assets/policy.html" target="»_blank"
              >условия пользовательского соглашения</a
            >
            и даю
            <a href="assets/policy.html" target="»_blank"
              >согласие на обработку персональных данных</a
            >.
          </label>
        </div>
      </div>

      <div class="auth-button">
        <button
          class="button"
          [disabled]="signupForm.invalid"
          (click)="signup()"
        >
          Зарегистрироваться
        </button>
      </div>

      <div class="auth-link">
        Уже есть аккаунт? <a routerLink="/login">Войдите</a>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/signup-image.png" alt="Signup image" />
    </div>
  </div>
</section>
